.rent-page-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.listings-grid{
    display: grid;
    place-items: center;
    grid-template-columns: 
        repeat(auto-fit, minmax(21rem, 21rem));
    gap: 2rem 1rem;
    max-width: 90%;
    margin: auto;
}
.results-text{
    margin: auto;
    margin-bottom: 0.75rem;
    margin-top: 0.25rem;
    font-size: 1.3rem;
}